@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* note */
.joke {
  color: #5BC0EB;
}

.joke:hover {
  color: #1478a3;
}

.greet {
  color: #FDE74C;
}

.greet:hover {
  color: #cab302;
}

.memo {
  color: #526760;
}

.memo:hover {
  color: #2d3935;
}

.idea {
  color: #897659;
}

.idea:hover {
  color: #312b20;
}

.cost {
  color: #c08552;
}

.cost:hover {
  color: #694526;
}

.other {
  color: #555c8b;
}

.other:hover {
  color: #25283D;
}

/* omikuji */
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.omikujiBtn:hover {
  animation: tilt-shaking 0.5s infinite;
  transform-origin: center;
}